<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DynaPuff:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

>>>>>>> 9bc74c3 (Remove large video file from repo)
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Custom styles for sparkle accents or animations */
@font-face {
  font-family: 'MyFont';
  src: url('/fonts/Myfont-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body {
  height: 100%;
}